<p>
    task-edit works!
</p>
<div *ngIf="currentTask | async as todoTask">
    <table >
        <tr>
            <td>
                Name:
            </td>
            <td>
                <input type="text" [(ngModel)]="todoTask.name" />
            </td>
        </tr>
        <tr>
            <td> Description </td>
            <td>
                <!--<textarea  [(ngModel)]="todoTask.description"  spellcheck="true" wrap="soft" rows="2" cols="1"/>-->
                <input type="text" [(ngModel)]="todoTask.description" />
            </td>
        </tr>
        <tr>
            <td>
                Done
            </td>
            <td>
                <input type="checkbox" [(ngModel)]="todoTask.isDone" />
            </td>
        </tr>
    </table>
    <a class="btn btn-primary" (click)="saveTask(todoTask)">Save</a>
    <a class="btn btn-primary" (click)="removeTask(todoTask)" *ngIf="!isNewTask" >Remove</a>
    <a class="btn btn-primary" *ngIf="isNewTask"
       [routerLink]="['/app-todolist']">Home</a>
</div>
