<a class="btn btn-primary"
   [routerLink]="['/events']">Home</a>
<div *ngIf="currentEvent | async as speakupEvent">
    <div>
        <table class="table table-responsive table-striped" >
            <tr>
                <td>
                    Name:
                </td>
                <td>
                    <input type="text" [(ngModel)]="speakupEvent.name" />
                </td>
            </tr>
            <tr>
                <td> Description </td>
                <td>
                    <!--<textarea  [(ngModel)]="speakupEvent.description"  spellcheck="true" wrap="soft" rows="2" cols="1"/>-->
                    <input type="text" [(ngModel)]="speakupEvent.description" />
                </td>
            </tr>
            <tr>
                <td> Start ON </td>
                <td>
                    <!--<textarea  [(ngModel)]="speakupEvent.description"  spellcheck="true" wrap="soft" rows="2" cols="1"/>-->
                    <input type="date" [(ngModel)]="speakupEvent.startdate" />
                </td>
            </tr>
            <tr>
                <td> End ON </td>
                <td>
                    <!--<textarea  [(ngModel)]="speakupEvent.description"  spellcheck="true" wrap="soft" rows="2" cols="1"/>-->
                    <input type="date" [(ngModel)]="speakupEvent.enddate" />
                </td>
            </tr>
            <tr>
                <td>
                    Done
                </td>
                <td>
                    <input type="checkbox" [(ngModel)]="speakupEvent.isDone" />
                </td>
            </tr>
        </table>

        <a class="btn btn-primary" (click)="saveSpeakupEvent(speakupEvent)">Save</a>
        <a class="btn btn-primary" (click)="removeSpeakupEvent(speakupEvent)" *ngIf="!isNewEvent">Remove</a>
       
    </div>
    <div>
        <!--<a class="btn btn-primary" (click)="getAttendee(speakupEvent)">Show Attendee</a>-->
        <h1>Speakers</h1>
        <app-event-attendee [speakupeventKey_Input]="speakupEvent.$key" ></app-event-attendee>
    </div>
</div>


